@use 'mixinsfunc';

@mixin arreglar-imagen{
    background: {
     size: cover;
     repeat: no-repeat;
     position: center;
    };

}

 
.hero{


    &__container{
        height: calc(80vh - 60px);
        background-image: linear-gradient(#76a41b4d,#0000004d), url('../img/gif-1542040775.gif');
        background-size: cover;

        @include mixinsfunc.crear-flexbox(center);
        @include arreglar-imagen;
    }

    &__text{
        width: 70%;
        color: #fff;
    }

    &__title{
        font-size: mixinsfunc.pixeles-rem(40);
        margin-bottom: mixinsfunc.pixeles-rem(10);
    }

    &paragraph{
        font-size: mixinsfunc.pixeles-rem(18);
    }
}